# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [6]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [11]:
my_series = pd.Series([2, 4, 6, 10, 34, np.nan, np.nan, 40, 56, np.nan])
print(my_series)

0     2.0
1     4.0
2     6.0
3    10.0
4    34.0
5     NaN
6     NaN
7    40.0
8    56.0
9     NaN
dtype: float64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [16]:
my_dataframe = pd.DataFrame (
    {'Pets': ['Cats', 'Dogs', 'Birds', 'Mice'], 
     'Color': ['Black', 'Brown', 'Multi', 'White'],
     'Count': [3, 2, 4, 3]
    }
 )
my_dataframe

    Pets  Color  Count
0   Cats  Black      3
1   Dogs  Brown      2
2  Birds  Multi      4
3   Mice  White      3

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [9]:
my_data = np.random.normal(loc = 0.85, scale = 1, size = (10, 5) )
names = ['Rachel','Ross', 'Monica', 'Pheobe', 'Chandler', 'Joey', 'Gunther', 'Mike', 'Richard', 'Ben']
columns = ['Project', 'Homework', 'Exam' , 'Midterm', 'Participation']

new_data = pd.DataFrame(my_data, index = names, columns = columns)
new_data

           Project  Homework      Exam   Midterm  Participation
Rachel    1.691614  0.222288  0.980743  0.697848       0.549982
Ross      1.688873  0.474908  1.081676  0.729283       0.690561
Monica    1.268611  2.524580  1.167020  1.541232       3.447484
Pheobe   -0.511569  0.769663  2.004166  2.400638       0.010208
Chandler  0.987318  0.927586  1.466754  0.771102       3.495698
Joey      0.566798  0.102081  1.098252 -0.911119      -0.986200
Gunther   1.595463  1.996898  1.229328 -2.036891       0.239873
Mike      1.888663  1.460987  0.826866 -0.053080       0.650667
Richard   1.911793 -0.266611  1.105940  2.948805       0.976696
Ben       0.144920  0.568715  1.396818  0.277971      -0.940154

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [11]:
iris = pd.read_csv('./data/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

pd.read_csv('./data/iris.csv', delimiter = '\t')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [22]:
# for iris data set
iris_head = iris.head()
print(iris_head)
print('\n')

iris_tail = iris.tail()
print(iris_tail)
print('\n')

iris_sample = iris.sample(5)
print(iris_sample)

print('\n')

#for task 2C data

newdata_head = new_data.head()
print(newdata_head)
print('\n')

newdata_tail = new_data.tail()
print(newdata_tail)
print('\n')

newdata_sample = new_data.sample(4)
print(newdata_sample)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica


     sepal_length  sepal_width  petal_length  petal_width     species
17            5.1          3.5           1.4          0.3      setosa
145           6.7          3.0           5.2          2.3   virginica
48            5.3          3.7           1.5          0.2      setosa
67            5.8          2.7           4.1          1.0  versicolor
44            5.1          3.8           1.9          0.4      setosa


           Project  Homework      Exam   Midterm  Participation
Rachel    1.691614  0.222288  0.980743  0.697848       0.549982
Ross      1.688873  0.474908  1.081676  0.729283       0.690561
Monica    1.268611  2.524580  1.167020  1.541232       3.447484
Pheobe   -0.511569  0.769663  2.004166  2.400638       0.010208
Chandler  0.987318  0.927586  1.466754  0.771102       3.495698


          Project  Homework      Exam   Midterm  Participation
Joey     0.566798  0.102081  1.098252 -0.911119      -0.986200
Gunther  1.595463  1.996898  1.229328 -2.036891       0.239873
Mike     1.888663  1.460987  0.826866 -0.053080       0.650667
Richard  1.911793 -0.266611  1.105940  2.948805       0.976696
Ben      0.144920  0.568715  1.396818  0.277971      -0.940154


          Project  Homework      Exam   Midterm  Participation
Richard  1.911793 -0.266611  1.105940  2.948805       0.976696
Pheobe  -0.511569  0.769663  2.004166  2.400638       0.010208
Monica   1.268611  2.524580  1.167020  1.541232       3.447484
Mike     1.888663  1.460987  0.826866 -0.053080       0.650667

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [25]:
iris_col = iris.columns
print(iris_col)

iris_index = iris.index
print(iris_index)

new_data_col = new_data.columns
print(new_data_col)

new_data_index= new_data.index
print(new_data_index)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
Index(['Project', 'Homework', 'Exam', 'Midterm', 'Participation'], dtype='object')
Index(['Rachel', 'Ross', 'Monica', 'Pheobe', 'Chandler', 'Joey', 'Gunther',
       'Mike', 'Richard', 'Ben'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [31]:
pd.__version__

iris_dictionary = iris.to_dict()

new_data_dictionary = new_data.to_dict()
print(new_data_dictionary)

{'Project': {'Rachel': 1.6916136206962102, 'Ross': 1.6888733163134035, 'Monica': 1.2686109741906106, 'Pheobe': -0.511569169153136, 'Chandler': 0.9873176651071685, 'Joey': 0.5667977224185227, 'Gunther': 1.5954628733222114, 'Mike': 1.8886634041797095, 'Richard': 1.9117927785412197, 'Ben': 0.14492001651831377}, 'Homework': {'Rachel': 0.2222881214096899, 'Ross': 0.47490768414460743, 'Monica': 2.5245801798043557, 'Pheobe': 0.7696630973025432, 'Chandler': 0.9275864175688671, 'Joey': 0.10208092375001798, 'Gunther': 1.9968982532998463, 'Mike': 1.460987183094118, 'Richard': -0.2666110523719879, 'Ben': 0.5687151569563685}, 'Exam': {'Rachel': 0.9807433012162093, 'Ross': 1.08167622015129, 'Monica': 1.1670204574974876, 'Pheobe': 2.0041661720735844, 'Chandler': 1.4667536769631706, 'Joey': 1.0982523119310126, 'Gunther': 1.2293280248880347, 'Mike': 0.8268662102992308, 'Richard': 1.1059398109431955, 'Ben': 1.3968175802820375}, 'Midterm': {'Rachel': 0.6978480111253692, 'Ross': 0.7292826017758105, 'Monica': 1.541232414985115, 'Pheobe': 2.4006379159487867, 'Chandler': 0.7711023162068251, 'Joey': -0.9111191730575904, 'Gunther': -2.036890958580144, 'Mike': -0.05308016172398955, 'Richard': 2.948805401824028, 'Ben': 0.277971315743215}, 'Participation': {'Rachel': 0.5499822362643542, 'Ross': 0.6905606906992419, 'Monica': 3.447483677061497, 'Pheobe': 0.010207671038436672, 'Chandler': 3.495697793778541, 'Joey': -0.9861996664425435, 'Gunther': 0.2398728145192176, 'Mike': 0.6506673960355884, 'Richard': 0.9766963456774914, 'Ben': -0.9401537490447119}}

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [36]:
iris.loc[5:10]

    sepal_width species
10          3.7  setosa
11          3.4  setosa
12          3.0  setosa
13          3.0  setosa
14          4.0  setosa
15          4.4  setosa
16          3.9  setosa
17          3.5  setosa

In [37]:
iris.loc[10:17, ['sepal_width', 'species']]

    sepal_width species
10          3.7  setosa
11          3.4  setosa
12          3.0  setosa
13          3.0  setosa
14          4.0  setosa
15          4.4  setosa
16          3.9  setosa
17          3.5  setosa

In [39]:
iris.at[20, 'sepal_width']

3.4

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [42]:
iris.iloc[1:6]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [43]:
iris.iloc[10:16, 2:4]

    petal_length  petal_width
10           1.5          0.2
11           1.6          0.2
12           1.4          0.1
13           1.1          0.1
14           1.2          0.2
15           1.5          0.4

In [45]:
iris.iat[20, 3]

0.2

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [49]:
iris[iris['sepal_width']> 3.0].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [54]:
iris[(iris['sepal_length'] > 4.5) & (iris['petal_length'] > 1.0)].tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica