# Lesson 4 Practice: Pandas Part 2

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L04-Pandas_Part2-Lesson.ipynb](./L04-Pandas_Part2-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [81]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta' : ['a', 'b', 'c', 'd', 'e'] 
})

iris_df = pd.read_csv('./data/iris.csv')

## Task 2a: Inserting Columns

+ Create a copy of the `df` dataframe.
+ Add a new column named "delta" to the copy that consists of random numbers.

In [18]:
df_copy = df
df_copy['delta'] = np.random.randn(5)
df_copy

   alpha beta     delta
0      0    a  0.979265
1      1    b  1.756029
2      2    c  0.586479
3      3    d  0.295878
4      4    e -0.356161

## Task 3a: Missing Data

+ Create two new copies of the `df` dataframe:
+ Add a new column to both that has missing values.
+ In one copy, replace missing values with a value of your choice.
+ In the other copy, drop rows with `NaN` values.
+ Print both arrays to confirm.

In [42]:
df_copy1 = df
df_copy2 = df
df_copy1['gamma'] = pd.Series([1, np.nan, np.nan, 3, 4])
df_copy2['gamma'] = pd.Series([1, 2, np.nan, 3, np.nan])                            

#replacing missing values with 2
df_copy1 = df_copy1.fillna(2)
print(df_copy1)

#dropping rows with missing value
df_copy2 = df_copy2.dropna()
print(df_copy2)

   alpha beta  gamma
0      0    a    1.0
1      1    b    2.0
2      2    c    2.0
3      3    d    3.0
4      4    e    2.0
   alpha beta  gamma
0      0    a    1.0
1      1    b    2.0
3      3    d    3.0

## Task 4a: Operations
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose five functions to use with the iris data frame.

In [94]:
iris_new = iris_df.loc[0 :50 , ['sepal_width', 'petal_width']]

#Percentage change
pct = iris_new.pct_change(axis = 'columns')

#calculating covarience among series in the data frame
cov = iris_df.cov()
print(f"Covarience among series in the data frame\n\n {cov}")

#calculating Pearson's Pairwise correlation of dataFrame columns
corr = iris_df.corr()
print(f"\n\nPearson's Pairwise correlation of DataFrame columns\n\n {corr}")

#rank data
ranks = iris_df.rank()
print(f"\n{ranks}")

Covarience among series in the data frame

               sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.039268      1.273682     0.516904
sepal_width      -0.039268     0.188004     -0.321713    -0.117981
petal_length      1.273682    -0.321713      3.113179     1.296387
petal_width       0.516904    -0.117981      1.296387     0.582414


Pearson's Pairwise correlation of DataFrame columns

               sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

     sepal_length  sepal_width  petal_length  petal_width  species
0            37.0        129.5          17.5         20.5     25.5
1            19.5         70.5          17.5         20.5     25.5
2            10.5        102.0           8.0         20.5     25.5
3             7.5         89.5          30.5         20.5     25.5
4            27.5        134.0          17.5         20.5     25.5
..            ...          ...           ...          ...      ...
145         126.5         70.5         117.5        140.5    125.5
146         104.0         15.5         106.5        119.0    125.5
147         118.0         70.5         117.5        124.5    125.5
148          97.5        120.5         121.5        140.5    125.5
149          82.0         70.5         112.5        110.5    125.5

[150 rows x 5 columns]

## Task 4b:  Apply

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice other than `print`, `type`, and `np.sum`.

In [89]:
#minimum values in each column
min = iris_df.apply(np.min)
print(min)

iris_new = iris_df.loc [0:20 , 'sepal_length': 'petal_width']
#mean of each column

mean = iris_new.apply(np.mean)
print(f"\n{mean}")

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

sepal_length    5.052381
sepal_width     3.476190
petal_length    1.447619
petal_width     0.233333
dtype: float64

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame..

In [92]:
#turning species column in to a series
species = iris_df.loc[:, 'species']

#counting occurence of each species
species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

## Task 5a: String Methods

+ Create a list of five strings that represent dates in the form YYYY-MM-DD (e.g. 2020-02-20 for Feb 20th, 2020).
+ Add this list of dates as a new column in the `df` dataframe.
+ Now split the date into 3 new columns with one column representing the year, another the month and another they day.
+ Combine the values from columns `alpha` and `beta` into a new column where the values are spearated with a colon.

In [25]:
date = ['1987-08-20', '2013-01-12', '2015-02-01', '2016-01-29', '2020-12-01']
df['date'] = date
df['Year'],df['Month'] , df['day'] = df['date'].str.split('-', 2).str

print(dates)

df['alpha']= df['alpha'].astype(str) 
df['new'] = df['alpha'] + ':' + df['beta']

df

<pandas.core.strings.StringMethods object at 0x0000017F7415BC10>

<ipython-input-25-17413cf78750>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  dates = df['Year'],df['Month'] , df['day'] = df['date'].str.split('-', 2).str

  alpha beta        date  Year Month day  new
0     0    a  1987-08-20  1987    08  20  0:a
1     1    b  2013-01-12  2013    01  12  1:b
2     2    c  2015-02-01  2015    02  01  2:c
3     3    d  2016-01-29  2016    01  29  3:d
4     4    e  2020-12-01  2020    12  01  4:e

## Task 6a: Concatenation by Rows
+ Create the following dataframe
```Python
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
```
+ Create a new dataframe named `df2` with column names "delta" and "gamma" that contins 5 rows with some index names that overlap with the `df1` dataframe and some that do not.
+ Concatenate the two dataframes by rows and print the result.
+ You should see the two have combined one after the other, but there should also be missing values added. 
+ Explain why there are missing values.

In [52]:
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])

df2 = pd.DataFrame(
{'delta': [10, 20, 30, 40, 50], 
'gamma': ['s', 't', 'u', 'v', 'w']}, index = ['I1', 'I2', 'I4', 'I7', 'I8'])

subset = [df1, df2]

new_df = pd.concat(subset)
print(new_df)

#there are missing values as the column names of the two data frames have different columns and therefore data cannot be combined under column names

    alpha beta  delta gamma
I1    0.0    a    NaN   NaN
I2    1.0    b    NaN   NaN
I3    2.0    c    NaN   NaN
I4    3.0    d    NaN   NaN
I5    4.0    e    NaN   NaN
I1    NaN  NaN   10.0     s
I2    NaN  NaN   20.0     t
I4    NaN  NaN   30.0     u
I7    NaN  NaN   40.0     v
I8    NaN  NaN   50.0     w

## Task 6b: Concatenation by Columns

Using the same dataframes, df1 and df2, from Task 6a practice:
+ Concatenate the two by columns
+ Add a "delta" column to `df1` and concatenate by columns such that there are 5 columns in the merged dataframe.
+ Respond in writing to this question (add a new 'raw' cell to contain your answer). What will happen if using you had performed an inner join while concatenating?  
+ Try the concatenation with the inner join to see if you are correct.

In [53]:
by_col = pd.concat([df1, df2], axis = 1)
print(by_col)

    alpha beta  delta gamma
I1    0.0    a   10.0     s
I2    1.0    b   20.0     t
I3    2.0    c    NaN   NaN
I4    3.0    d   30.0     u
I5    4.0    e    NaN   NaN
I7    NaN  NaN   40.0     v
I8    NaN  NaN   50.0     w

In [50]:
df1['delta'] = [18, 23 ,34, 35 ,56 ]


by_col2 = pd.concat([df1, df2], axis = 1)
print(by_col2)

    alpha beta  delta  delta gamma
I1    0.0    a   18.0   10.0     s
I2    1.0    b   23.0   20.0     t
I3    2.0    c   34.0    NaN   NaN
I4    3.0    d   35.0   30.0     u
I5    4.0    e   56.0    NaN   NaN
I7    NaN  NaN    NaN   40.0     v
I8    NaN  NaN    NaN   50.0     w

If an inner join is performed while concatanating , it will remove all rows with missing values(NaNs)

In [49]:
by_col3 = pd.concat([df1, df2], axis = 1, join = 'inner')
print(by_col3)

    alpha beta  delta  delta gamma
I1      0    a     18     10     s
I2      1    b     23     20     t
I4      3    d     35     30     u

#### Task 6c: Concat and append data frames
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

+ Create a new 5x5 dataframe full of random numbers.
+ Create a new 5x10 dataframe full of 1's.
+ Append one to the other and print it.
+ Append a single Series of zeros to the end of the appended dataframe.

In [56]:
new_data = pd.DataFrame(np.random.random((5, 5)))
new_ones = pd.DataFrame(np.ones((5, 10)))
appended_data = new_data.append(new_ones, ignore_index = True)
print(appended_data)

          0         1         2         3         4    5    6    7    8    9
0  0.197484  0.022803  0.482100  0.901504  0.626579  NaN  NaN  NaN  NaN  NaN
1  0.231891  0.361008  0.358579  0.277772  0.218442  NaN  NaN  NaN  NaN  NaN
2  0.997570  0.285746  0.058710  0.920014  0.937908  NaN  NaN  NaN  NaN  NaN
3  0.902360  0.527081  0.080222  0.931797  0.590358  NaN  NaN  NaN  NaN  NaN
4  0.588865  0.641294  0.047656  0.422949  0.373899  NaN  NaN  NaN  NaN  NaN
5  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
6  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
7  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
8  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
9  1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0

In [60]:
zeros = pd.Series(np.zeros(10))
appended_data2 = appended_data.append(zeros, ignore_index = True)
print(appended_data2)

           0         1         2         3         4    5    6    7    8    9
0   0.197484  0.022803  0.482100  0.901504  0.626579  NaN  NaN  NaN  NaN  NaN
1   0.231891  0.361008  0.358579  0.277772  0.218442  NaN  NaN  NaN  NaN  NaN
2   0.997570  0.285746  0.058710  0.920014  0.937908  NaN  NaN  NaN  NaN  NaN
3   0.902360  0.527081  0.080222  0.931797  0.590358  NaN  NaN  NaN  NaN  NaN
4   0.588865  0.641294  0.047656  0.422949  0.373899  NaN  NaN  NaN  NaN  NaN
5   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
6   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
7   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
8   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
9   1.000000  1.000000  1.000000  1.000000  1.000000  1.0  1.0  1.0  1.0  1.0
10  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

## Task 6d: Grouping

Demonstrate a `groupby`.

+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

In [71]:
iris_df['region'] = np.random.choice(['Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'],iris_df.shape[0])

groups = iris_df.groupby('region')
means_f_species = groups.mean()
print(f"Means of species{means_f_species}")

Means of species           sepal_length  sepal_width  petal_length  petal_width
region
Midwest        5.905263     3.063158      4.000000     1.336842
Northeast      5.831579     3.047368      3.873684     1.163158
Northwest      5.850000     3.143333      3.486667     1.060000
Southeast      5.814286     3.031429      3.814286     1.245714
Southwest      5.796429     2.978571      3.575000     1.125000

In [75]:
iris_df['dev_stage'] = np.random.choice(['early', 'late'], iris_df.shape[0])

new_groups = iris_df.groupby(['region', 'dev_stage'])
new_means = new_groups.mean()
print(f"Means of species by two groupings {new_means}")

Means of species by two groupings                      sepal_length  sepal_width  petal_length  petal_width
region    dev_stage
Midwest   early          5.733333     3.053333      3.566667     1.133333
          late           6.017391     3.069565      4.282609     1.469565
Northeast early          5.483333     3.108333      3.091667     0.791667
          late           6.428571     2.942857      5.214286     1.800000
Northwest early          5.656250     3.206250      3.106250     0.893750
          late           6.071429     3.071429      3.921429     1.250000
Southeast early          5.907692     3.076923      3.661538     1.200000
          late           5.759091     3.004545      3.904545     1.272727
Southwest early          5.746154     2.938462      3.592308     1.176923
          late           5.840000     3.013333      3.560000     1.080000

In [79]:
third_group = iris_df.groupby(['region', 'dev_stage', 'species'])
count = third_group.count()
print(f"The row counts are:\n\n{count}")

The row counts are:

                                sepal_length  sepal_width  petal_length  \
region    dev_stage species
Midwest   early     setosa                 6            6             6
                    versicolor             4            4             4
                    virginica              5            5             5
          late      setosa                 5            5             5
                    versicolor             7            7             7
                    virginica             11           11            11
Northeast early     setosa                 6            6             6
                    versicolor             5            5             5
                    virginica              1            1             1
          late      versicolor             3            3             3
                    virginica              4            4             4
Northwest early     setosa                 7            7             7
                    versicolor             6            6             6
                    virginica              3            3             3
          late      setosa                 5            5             5
                    versicolor             2            2             2
                    virginica              7            7             7
Southeast early     setosa                 5            5             5
                    versicolor             4            4             4
                    virginica              4            4             4
          late      setosa                 6            6             6
                    versicolor             9            9             9
                    virginica              7            7             7
Southwest early     setosa                 4            4             4
                    versicolor             5            5             5
                    virginica              4            4             4
          late      setosa                 6            6             6
                    versicolor             5            5             5
                    virginica              4            4             4

                                petal_width
region    dev_stage species
Midwest   early     setosa                6
                    versicolor            4
                    virginica             5
          late      setosa                5
                    versicolor            7
                    virginica            11
Northeast early     setosa                6
                    versicolor            5
                    virginica             1
          late      versicolor            3
                    virginica             4
Northwest early     setosa                7
                    versicolor            6
                    virginica             3
          late      setosa                5
                    versicolor            2
                    virginica             7
Southeast early     setosa                5
                    versicolor            4
                    virginica             4
          late      setosa                6
                    versicolor            9
                    virginica             7
Southwest early     setosa                4
                    versicolor            5
                    virginica             4
          late      setosa                6
                    versicolor            5
                    virginica             4